@using Syncfusion.EJ2
@model Vessel;

@{
    ViewData["Title"] = "Kemaman port";
}

<style>
    .card {
        margin: 5%;
    }

    font {
    }
</style>
<div class="container">
    <h1>
        Port Finder
    </h1>
    <div class="card">
        <div class="card-header">Port Name</div>
        <div class="card-body">
         
                <center>
                    <a class="btn btn-info" asp-controller="Home" asp-action="Kuantan">
                        KUANTAN PORT
                    </a>
                    <a class="btn btn-info" asp-controller="Home" asp-action="Klang">
                        KLANG PORT
                    </a>
                    <a class="btn btn-info" asp-controller="Home" asp-action="Kemaman">
                        KEMAMAN PORT
                    </a>
                </center>

          
        </div>
    </div>




    <div class="card">
        <div class="card-header">Port Map</div>
        <div class="card-body">
            <center>
                <script type="text/javascript">
                    // Map appearance
                    var width = "100%";         // width in pixels or percentage
                    var height = "300";         // height in pixels
                    var latitude = "4.25";     // center latitude (decimal degrees)
                    var longitude = "103.416667";    // center longitude (decimal degrees)
                    var zoom = "8";             // initial zoom (between 3 and 18)
                </script>
                <script type="text/javascript" src="https://www.vesselfinder.com/aismap.js"></script>
            </center>




        </div>
    </div>
</div>

<script>
    function myFunction() {
        document.getElementById("myForm").reset();
    }
</script>
